





<row>
    
     <div class="col-md-2" style="position:absoulte; right: 50px; ">

    <%= render "users/show" %> 
     <%=  render "layouts/sidenav_bar" %> 

      </div>
  
    <div class="col-md-7">
       
       
        
 

   
         
    </div>
  

      <div class="col-md-3">
       
       
        
 
     <%= render "ventures/index" %>      
     <%= render "ventures/form" %> 
  
   
         
         
         
     </div>
    
    
 
</row>


