





<row> 

           
     <%=  render "layouts/sidenav_bar" %> 


  
    <div class="col-md-7">
       
       
        
 

   
         
         
         
  </div>
  
 <div class="col-md-3">


      <div class="polaroid" style="  width: 80%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;">
      
         
          
           
        <% if @user.get_fame %> 
              <p> <%= @user.get_fame.goal %></p>
        <% end %> 
               
            <span class="glyphicon glyphicon-pencil"></span>  
       
         
        </div>
       


       <%=  render "form" %> 
    
   </div>

</row>


