

<div class="thumbnail"> 

<% @user.profile.ventures.each do |venture| %>

 
   <div class=" img-thumbnail image" style="position:relative; width:80px; height:80px ; overflow:hidden ">
       <%= link_to image_tag(venture.image.url(:small)) , venture_path(@user,venture) %>
       <h3 class="image_text"><%= venture.title %></h3> 
   </div> 
       
   <!--<span class="glyphicon glyphicon-pencil"></span>  -->
 
<% end %>
 <h3> click here to see more</h3>
</div>


<style> 

.image_text { 
   position: absolute; 
   top: -20px; 
   left: 20px; 
   width: 100%; 
   color: white;
   font-size:16px;
   /*overflow:hidden*/
}

</style>