
<style>
  #createbytebutton{
  width: 75px !important;
  height: 75px !important;
}

</style>
 
  <button type="button" id="createbytebutton" class="btn btn-primary"  data-toggle="modal" data-target="#myModal">Create <br> Byte</button>

  <!-- Modal -->
 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
    
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <%= render 'ventures/form' %>
                     
            </div>
       
      </div>
      
    </div>
  </div>
