




<!--<div class="row">-->
<!--  <div class="col-sm-6 col-md-4">-->
    <div class="thumbnail">
     <%= link_to image_tag(@user.image.url(:med) ,size: "150x150" )%>
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p> this wil be you bio okay 
        </p>
       
      </div>
    </div>
<!--  </div>-->
<!--</div>-->