
 
<div class="form-group" >

    <%= form_for [@venture, @post]  do |f|  %>
       
        <%= f.text_area :text , class:"form-control" , placeholder:"text" %>
         <button  type=button class="btn btn-defaul  btn-block image_button" ><span class="glyphicon glyphicon-camera"></span></button> 
        <%= f.submit  "save",  class:'btn btn-primary btn-md btn-block' %>
        <%= f.file_field :image  , class:'form-control image-file'  %><br>
       
        <img class="some-image"  />
      
    <% end %>
</div>



<script> 
           
   //  $('#new_post').fileupload({
   //    // dataType: 'json',
      
   //     add: function (e, data) {
   //        $( "#save_post" ).unbind();
   //       //  data.context = $('<button/>').text('Upload').appendTo(document.body);
   //        if (data.files && data.files[0]) {
   //           var reader = new FileReader();
   //           reader.onload = function(e) {
   //                $('#some-image').attr('src', e.target.result);
   //           };
             
   //           reader.readAsDataURL(data.files[0]);
            // $('#post-image-cancel').css('display','inline');
            
             
            //  $('#post-image-cancel').click(function () {
            //     $('#some-image').attr('src', "");
            //    $('#post-image-cancel').css('display','none')
            //  });
               
            //  $("#new_post").submit(function(){
            //           return false;
            //          //  evt.preventDefault();
                       
            //     });
             
            //  $("#save_post").click(function(e){
             
              
            //     data.submit();
               
       
            //  });
      //     }
      // },
      
      //  done: function (e, data) {
      //       data.context.text('Upload finished.');
      //  }
   //  });
    
    
// });
  

</script>