
 
   <ul class="nav nav-pills " >
      
     <li role="presentation" class="active"><a href="#">Profile</a></li>
     <li role="presentation"><a href="#">Dashboard</a></li>
     <li role="presentation"><a href="#">Msgs</a></li>
     
     <!--if user  user allowed to sell fame -->
     <li role="presentation"><%= link_to 'Promote' , promote_path %> </li>
   </ul>


