
 
   <ul class="nav nav-pills " >
      
     <li role="presentation" class="active"><a href="#">Profile</a></li>
     <li role="presentation"><a href="#">Dashboard</a></li>
     <li role="presentation"><a href="#">Tings</a></li>
     <li role="presentation"><a href="#">Msgs</a></li>
   </ul>


